@import "tailwindcss";

@theme {
  --color-bg: #000000;
  --color-fg: #ffffff;
  /* --color-accent: #cba6f7; */
  --color-accent: #ffffff;
  --color-muted: #252525;
  --spacing-nav: 3rem;
  --border-3: 3px;
}

body {
  @apply bg-bg text-fg text-sm font-mono;
}
