@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@theme {
  --color-bg: #000000;
  --color-bg-1: #181818;
  --color-border: #222222;
  --color-fg: #ffffff;
  --color-fg-1: #cccccc;
  /* --color-accent: #cba6f7; */
  --color-accent: #ffffff;
  --color-muted: #252525;
  --color-muted-1: #333333;
  --spacing-nav: 3rem;
  --border-3: 3px;
}

body {
  @apply bg-bg text-fg text-sm font-mono selection:text-bg selection:bg-accent;
}

@utility prose-default {
  --tw-prose-body: var(--color-fg);
  --tw-prose-headings: var(--color-fg);
  --tw-prose-lead: var(--color-bg-1);
  --tw-prose-links: var(--color-fg);
  --tw-prose-bold: var(--color-fg);
  --tw-prose-counters: var(--color-muted);
  --tw-prose-bullets: var(--color-fg);
  --tw-prose-hr: var(--color-muted);
  --tw-prose-quotes: var(--color-fg);
  --tw-prose-quote-borders: var(--color-muted);
  --tw-prose-captions: var(--color-bg-1);
  --tw-prose-code: var(--color-fg);
  --tw-prose-pre-code: var(--color-muted);
  --tw-prose-pre-bg: var(--color-fg);
  --tw-prose-th-borders: var(--color-muted);
  --tw-prose-td-borders: var(--color-muted);
}

#piece {
  h1 {
    @apply text-lg font-bold mb-2;
  }
  h2 {
    @apply text-base font-semibold mb-2;
  }
  hr {
    @apply border border-muted my-4;
  }
  ul {
    @apply list-disc ml-5;
  }
}

::-webkit-scrollbar {
  display: none;
}
